{% comment %}
  type: text, text, url, text
  type: collection selector
{% endcomment %}

{% schema %}
{
  "name": "Product slider",
  "tag": "section",
  "class": "product-slider",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "section_description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "section_button",
      "label": "Button"
    },
    {
      "type": "collection",
      "id": "collection_list",
      "label": "Collection list"
    }
  ],
  "presets": [
    {
      "name": "Product slider"
    }
  ]
}
{% endschema %}

{% if section.settings.collection_list %}
  {% assign collection = section.settings.collection_list %}

  <div class="flex max-w-[1440px] mx-auto pt-[1.5rem] mb-[128px]">
    <div class="flex flex-col">
      <h2 class="mb-8 text-[32px]">{{ section.settings.section_title }}</h2>
      <p class="body--text max-w-[148px] pb-8">{{ section.settings.section_description }}</p>
      {% render 'secondary--button', text: section.settings.section_button %}
    </div>

    <div
      class="flex overflow-x-auto relative gap-6"
    >
      {% for product in collection.products %}
        <div class="flex flex-col items-center bg-white min-w-[300px]">
          <img
            src="{{ product.featured_image | image_url }}"
            width="300px"
            height="300px"
            class="object-contain bg-[#F2F2F7] mb-[2.5rem] rounded-t-xl aspect-square"
          >
          {% comment %}
            {{
              | image_url: width: 300, height: 300
              | image_tag: class: 'object-cover bg-[#F2F2F7] mb-[1.5rem] rounded-t-xl'
            }}
          {% endcomment %}

          <div class="flex flex-col justify-end text-center w-full px-6 flex-[1_0_auto] mb-[1.5rem] pb-3 border-b-xl">
            <span class="text-[1.65rem]">{{ product.title }}</span>
            <div class="flex text-[#EB008C] items-baseline justify-center gap-2 mb-8">
              <span class="uppercase tracking-tight">eu</span
              ><span class="text-[2.5rem]">{{ product.price_min | money_without_trailing_zeros }}</span>
            </div>
            <a class="btn--primary"> Add to cart </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
