{% comment %}
  type: text, text, url, text
  type: collection selector
{% endcomment %}

{% schema %}
{
  "name": "Product slider",
  "tag": "section",
  "class": "product-slider",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "section_description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "section_button",
      "label": "Button"
    },
    {
      "type": "collection",
      "id": "collection_list",
      "label": "Collection list"
    }
  ],
  "presets": [
    {
      "name": "Product slider"
    }
  ]
}
{% endschema %}

{% if section.settings.collection_list %}
  {% assign collection = section.settings.collection_list %}

  <div
    class="flex flex-col lg:flex-row max-w-[1440px] mx-auto pt-[1.5rem] mb-[128px] px-5"
  >
    <div class="flex lg:flex-col flex-row">
      <div>
        <h2 class="mb-8 text-[32px]">{{ section.settings.section_title }}</h2>
        <p class="body--text max-w-[148px] pb-8">{{ section.settings.section_description }}</p>
      </div>
      {% render 'secondary--button', text: section.settings.section_button %}
    </div>

    <div
      class="flex overflow-x-auto gap-4"
    >
      {% for product in collection.products %}
        <div
          x-data="{selectedVariantImg: '{{ product.featured_image | image_url }}', currentVariantId: '{{ product.selected_or_first_available_variant.id }}'}"
          class="bg-white flex flex-col items-center min-w-[300px]"
        >
          <div class="relative mb-[2.5rem]">
            <div class="h-full">
              <a href="{{ product.url }}">
                <img
                  :src="selectedVariantImg"
                  width="300px"
                  height="300px"

                  class="object-contain bg-[#F2F2F7] rounded-t-xl aspect-square"
                >
              </a>

              {% if product.variants.size > 1 %}
                <div
                  class="absolute top-0 bottom-0 bg-[rgba(229,229,234,0.6)] left-0 w-[20%] z-1 rounded-tl-2xl flex"
                  aria-hidden="true"
                >
                  <!-- ABSOLUTE -->
                  <div
                    class="flex flex-col gap-6 justify-center mx-auto"
                    x-data="{selectedVariant: null, selectedVariantIndex: null,}"
                  >
                    {% for variant in product.variants limit: 4 %}
                      <img
                        @click="selectedVariantIndex = {{ forloop.index0 }}; selectedVariantImg = '{{ variant.featured_image | image_url }}'; currentVariantId = {{ variant.id }};"
                        :class="selectedVariantIndex == {{ forloop.index0 }} ? 'outline outline-black' : '' "
                        src="{{variant.image | image_url }}"
                        width="35px"
                        height="35px"
                        alt="{{ variant.image.alt }}"
                        class="object-cover aspect-square rounded cursor-pointer"
                      >
                    {% endfor %}

                    <a href="{{ product.url }}">
                      <div
                        class="flex justify-center bg-white rounded items-center aspect-square cursor-pointer"
                      >
                        +{{ product.variants.size | minus: 4 }}
                      </div>
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div
            class="flex flex-col justify-end text-center w-full px-6 mb-[1.5rem] pb-3 border-b-xl flex-[1_0_auto]"
          >
            <span class="text-[1.65rem]">{{ product.title }}</span>
            <div class="flex text-[#EB008C] items-baseline justify-center gap-2 mb-8">
              <span class="uppercase tracking-tight">eu</span
              ><span class="text-[2.5rem]">{{ product.price_min | money_without_trailing_zeros }}</span>
            </div>
            <button
              class="adc btn--primary"
              x-data
              @click="$store.data.addToCart(currentVariantId)"
            >
              Add to cart
            </button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('data', {
      addToCart(id) {
        let formData = {
          id: id,
          quantity: 1,
        };
        fetch(window.Shopify.routes.root + 'cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData),
        })
          .then((response) => {
            return response.json();
          })
          .then(() => {
            // after submitting, redirect to cart
            window.location.href = '/cart';
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      },
    });
  });
</script>
